:root {
  --bert-black: #0b0c10;
  --bert-navy: #1f2833;
  --bert-gray: #c5c6c7;
  --bert-blue-bright: #66fcf1;
  --bert-blue-dark: #45a29e;
}

body {
  font-family: 'Rubik', sans-serif;
  /* background-color: white; */
  color: white;
  overflow-x: hidden;
  background-repeat: repeat;
  background-color: var(--bert-navy);
  background-blend-mode: lighten;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
  color: var(--bert-blue-bright);
}

a {
  color: var(--bert-blue-dark);
}

a:hover,
a:active {
  color: var(--bert-blue-bright);
}
